@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
  --ltTeal: #01F4FA;
  --mdTeal: #00B5C3;
  --drkTeal: #197A80;
  --drkGrTl: #4C686A;
  --gray: #B7CCCE;
  --grTl: #D5EDEF;
  --mainFont: 'IM Fell DW Pica SC', serif;
  --subFont: 'Raleway', sans-serif;
  --customCursor: url('./images/swCursor.png'), auto;
  --redAccent: #810020;
}






body {
  margin: 0;
  font-family: var(--mainFont);
  /* cursor: var(--customCursor); */
  cursor: crosshair;
}


::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
  background: #01F4FA; 
  border-radius:10px;
}
  ::-webkit-scrollbar-thumb {
  background: #810020; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #810020; 
} 