@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');

:root{
  --ltTeal: #01F4FA;
  --mdTeal: #00B5C3;
  --drkTeal: #197A80;
  --drkGrTl: #4C686A;
  --gray: #B7CCCE;
  --grTl: #D5EDEF;
  --mainFont: 'IM Fell DW Pica SC', serif;;
}






body {
  margin: 0;
  font-family: var(--mainFont);
}


