footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;  
  background-color: black;
  color: #01F4FA;
  text-align: center;
  
}



.mature{
  height: 50px;
  width: 50px;
  margin: 2px;
}