body{
  background-image: linear-gradient(to right, 
  #01f4fa,
  #00dbe1, 
  #00c3c8,
  #00aaaf,
  #009296);
}


#d3{
  height: 500px;
  width: 400px;
}

#home{
  display: flex;
  justify-content: center;
}

#welcome{
  text-align: center;
  color: var(--redAccent);
  text-shadow: 1px 1px 0px #003032;
  letter-spacing: 1px;
}

#welcomePara{
  font-size: 16px;
  letter-spacing: 1px;
  font-family: var(--subFont);
  text-shadow: 1px 1px 0px var(--redAccent);
}